/* color palette
reds
#E1CCD0 (225,204,208) 
#C69FA7 (198,159,167) 
#B37F89 (179,127,137) 
** #77555B (119,85,91) link
#362629 (54,38,41) 

aquas 
#CBDAE0 (203,218,224) 
#9EB9C5 (158,185,197) 
#7EA2B2 (126,162,178) 
#546C77 (84,108,119) 
#263135 (38,49,53) 

browns
#E1DCCC (225,220,204) 
#C6BE9F (198,190,159) 
#B3A87F (179,168,127) 
#777055 (119,112,85) 
#363226 (54,50,38)
*/

html { 
  padding: 0 0 0 0;
}
a:link {
  text-decoration: none;
  color: #546C77;
  font-weight: 600;
}
a:visited {
  text-decoration: none;
  color: #546C77;
  font-weight: 600;
}
a:hover {
  font-style: bold;
  text-decoration: none;
  background-color: #E1CCD0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #CCC;
  padding: 1px 3px;
}
a:active {
  text-decoration: none;
  color: #546C77;
  font-weight: 600;
} 
body {
/*  text-align: center;*/
  text-align: left; 
  font-family: 'Helvetica Neue', Helvetica, sans;
  font-size: 14px;
  color: #666666;
}
#header {
  font-family: 'Helvetica Neue', Helvetica, sans;
  padding: 15px;
  background: #CBDAE0;
  margin-bottom: 15px;
  color: #333333;
}
#header .inner {
  text-align: left;
  width: 725px;
  margin: auto;
}
#header ul {
  float: right;
  list-style-type: none;
}
#header ul li {
  float: right;
  margin-left: 18px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}
#header ul li a {
  color: #546C77;
}
#header ul li a:hover { 
	/* background-color: #eaeaea; */
}
#header h1 {
  font-size: 48px;
  font-weight: bold;
}
#header h1 a {
  color: #546C77;
  font-family: 'Rock Salt', serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: -0.04em;
  line-height: 1.2;
  /* text-shadow: 2px 2px 2px #263135; */
  text-shadow: 2px 2px 2px #FFF;
}
#header h1 a:hover {
  background-color: transparent;
}
#header h2 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 1px #263135;
}
#header h2 img { margin-left: 3px; }
#content .inner {
  text-align: left;
  width: 750px;
  margin: auto;
}
.pagelist { padding: 10px; }
.pagelist h2 {
  font-size: 24px;
  font-family: 'Helvetica Neue', Helvetica, sans;
}
.pagelist a {
  font-size: 18px;
}
.post { margin-bottom: 55px; }
.post h3 {
  font-size: 29px;
  font-family: 'Helvetica Neue', Helvetica, sans;
  font-weight: normal;
  margin-bottom: 7px;
  color: #546C77;
}
div.post h4 {
  font-size: 22px;
  font-weight: normal;
}
div.post h5 {
  font-size: 16px;
  font-weight: bold;
}
.post .body { font-size: 17px; }
.post .body p { margin-bottom: 1em; }
.post .body img { text-align: center;}
.post ul ol { 
  margin-bottom: 1em;
  list-style-type: normal;
  padding-left: 1em;
}
.post li { 
	margin-bottom: 0.5em;
}
#content div.inner div.post div.body div.about_head ul.nodot li img {
  padding-bottom: 0px;
  padding-right: 5px;
}
.post .meta {
  color: #999999;
  margin-bottom: 25px;
}
pre {
  background: #ECF1F3;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
  white-space: pre;
}
blockquote {
  background-color: #F4ECED;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-left: 15px;
  border-left: 7px solid #363226;
}
#footer {
  font-family: 'Helvetica Neue', Helvetica, sans;
  background: #CBDAE0;
  padding: 25px;
  color: #333333;
  margin-top: 15px;
}
#footer .inner {
  text-align: left;
  width: 725px;
  margin: auto;
}
#footer h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 300;
  font-family: "Rock Salt", serif;
}
#footer h3 a {
  color: #333;
  font-weight: 300;  
}
#footer h3 a:hover { 
	background-color: transparent;	 
}
#footer table { font-weight: 300; }
#footer table tr td {
  padding-bottom: 3px;
  padding-right: 15px;
}
#footer table tr td a { text-decoration: none; }
#footer table tr td a:hover { 
	/* background-color: #eaeaea; */
}
#footer table tr td.date { text-align: right; }
#footer .archives {
  float: left;
  margin-right: 25px;
}
#footer .about { float: left; }
#footer .about img { float: left; }
#footer .about div {
  padding-left: 94px;
  width: 140px;
  font-weight: 300;
}
.my_pic { float: right; }
.about_head {
  width: 550px;
  margin-bottom: 45px;
}
.projects_container {
  padding: 35px 0 0 0;
}
table.projects td { padding-bottom: 35px; }
table.projects td.img {
  text-align: center;
  vertical-align: top;
}
table.projects td.desc { 
	padding-left: 45px;
	vertical-align: middle;
}
.bubble {
  color: #ffffff;
  font-size: 16px;
  background: #7EA2B2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  position: relative;
  -moz-box-shadow: 3px 3px 4px #CBDAE0;
  -webkit-box-shadow: 3px 3px 4px #CBDAE0;
  box-shadow: 3px 3px 4px #CBDAE0;
}
.bubble .tip {
  background: url(/images/triangle.png) no-repeat 0 0;
  width: 10px;
  height: 11px;
  position: absolute;
  top: 19px;
  left: -10px;
  vertical-align: middle;
}
.bubble a {
  text-decoration: none;
  color: #ffffff;
}
.bubble a:hover { /* background-color: #eaeaea; */ }
#disqus_thread { margin-top: 45px; }
#disqus_thread h3 { font-size: 19px; }
.code-inline {
  background-color: #CBDAE0;
  font-weight: normal;
  padding: 1px 3px;
  font-family: courier, mono;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #CCC;
}
p.bookauthors {
	font-size: 14px;
	font-style: italic;
	line-height: 10px;
}
p.bookmeta {
	font-size: 12px;
	line-height: 10px;
}
p.booktitle a {
  font-size: 18px;
}
.tags {
  margin-top: 16px;
}
#footer div.powered {
  clear: both;
  padding-top: 20px;
  font-size: 10px;
  text-align: center;
}
#content div.body img {
	padding: 10px;
}
.nodot {
    list-style-type: none;
}

/* tipsy styles */
.tipsy { font-size: 13px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  .tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
  .tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
  .tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
  .tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
  .tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
  .tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
  .tipsy-e .tipsy-arrow { right: 0; border-right: none; }
  .tipsy-w .tipsy-arrow { left: 0; border-left: none; }
