            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h3>Archives</h3>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="about">
                    <h3><a href="/about/">About Me</a></h3>
                    
                    <a href="/about/"><img src="/images/me_small.png" alt="ME" /></a>
                    <div>
                        <p>I build computing infrastructure. I race bicycles. 
                        Sometimes, I build computer infrastructure for racing bikes. 
                        <a href="/about/">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        
        {% include google_analytics.html %}
        
    </body> 
</html>
