<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Ken Pepple" />
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Sitewide RSS Feed" />
  </head>

  <body>
      <!-- github badge -->
      <a href="http://github.com/slashk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    <div class="site">
      <div class="header">
        <a href="/rss.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
      </div>

      <div class="contact">

        <img src="http://www.gravatar.com/avatar/f1a41f00eac91827a1f46959ec99bc12?s=80" style="float:left; padding-right:10px; padding-top:3px">
        <p>
        <b>Kit Plummer</b><br/>
        Software Engineer :: Techitect :: Evangelist<br/>
        <a href="mailto:kitplummer@gmail.com">kitplummer@gmail.com</a><br/>
        kitplummer (AIM,Yahoo!IM,Gtalk,Skype)<br/>
        </p>
      </div>

      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <p>
        <a href="http://www.maestrodev.com">MaestroDev</a> :: 
        <a href="http://www.dozersoftware.com"><b>dozer</b>Software</a> :: 
        <a href="http://www.mil-oss.org/">Mil-OSS</a>
        </p>
        <p>
        <a href="http://github.com/kitplummer/">github.com/kitplummer</a> :: 
        <a href="http://twitter.com/kit_plummer/">twitter.com/kit_plummer</a> :: 
        <a href="http://www.facebook.com/kitplummer">facebook.com/kitplummer</a>
        </p>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2886473-4");
        pageTracker._trackPageview();
      } catch(err) {}</script>

  </body>
</html>

